body {
    background: #eee;
    margin: 0;

    #main { display: flex; }

    canvas {
        margin: auto;
        margin-top: 2rem;
        border: 1px solid #000;
        background: #000;
    }
}