@font-face {
  font-family: Minecraftia;
  src: url(../font/Minecraftia-Regular.ttf);
}

body {
  background: #eee;
  margin: 0;

  #main {
    display: flex;
  }

  canvas {
    margin: auto;
    background: #000;
  }

  .preload-font {
    font-family: Minecraftia;
    visibility: hidden;
  }
}
